@namespace Hub.Shared.Web.Components.Layout

@inherits Component

<div class="col@(Size != null ? $"-{Size}" : "") @(Offset != null ? $"offset-md-{Offset}" : "") @Class" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Size { get; set; }
    
    [Parameter]
    public string? Offset { get; set; }
}