@namespace Hub.Shared.Web.Components.Buttons

@inherits ButtonBase

@inject State _state

<button
    class="btn btn-primary @Class"
    disabled="@(_state.Saving || @SetDisabled)"
    @attributes="AdditionalAttributes">
    @ChildContent
</button>