@inherits Component

<article class="@Class" @attributes="AdditionalAttributes">
    <p>
        @if (Text != null)
        {
            @Text
        }
        else
        {
            @("Loading...")
        }
    </p>
</article>

@code {

    [Parameter]
    public string? Text { get; set; }

}