@namespace Hub.Shared.Web.Components.Indicators

@implements IDisposable

@inject State _state;

<article class="saving-overlay @(!_state.Saving ? "d-none" : "")">
    <p>
        @if (Text != null)
        {
            @Text
        }
        else
        {
            @("Saving...")
        }
    </p>
</article>

@code {
    [Parameter]
    public string? Text { get; set; }
    
    protected override void OnInitialized()
    {
        _state.OnChange += StateHasChanged;
    }
    
    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
    }
}