@using JetBrains.Annotations
@using MudBlazor

<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 90vh; overflow-y: scroll; padding-bottom: 24px" class="mt-2">
            @if (HeaderText != null)
            {
                <header class="row">
                    <div class="col-12">
                        @if (HeaderIcon != null)
                        {
                            <MudIcon 
                                class="mb-2 me-3"
                                Icon="@HeaderIcon"
                                Size="Size.Large"/>
                        }
                        <h1 class="fs-3 d-inline-block">@HeaderText</h1>
                    </div>
                </header>
            }

            @if (ChildContent == null)
            {
                <MudSkeleton/>
            }
            else
            {
                @ChildContent
            }
        </MudContainer>
    </DialogContent>
</MudDialog>

@code {
    
    [Parameter]
    [CanBeNull]
    public string HeaderText { get; set; }
    
    [Parameter]
    [CanBeNull]
    public string HeaderIcon { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }
}