@using JetBrains.Annotations

<article class="widget @(OnClick != null ? "clickable" : "")" @onclick="HandleOnClick">
    <div class="card">
        <div class="card-body">
            <section class="row">
                <div class="col-12">
                    @if (ChildContent == null)
                    {
                        <MudSkeleton />
                    }
                    else
                    {
                        @ChildContent
                    }
                </div>
            </section>
        </div>
    </div>
</article>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    [CanBeNull]
    public Func<Task> OnClick { get; set; }

    private async Task HandleOnClick(MouseEventArgs arg)
    {
        if (OnClick == null)
        {
            return;
        }

        await OnClick.Invoke();
    }

}